.button {
  font-family: fenwick, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  background-color: black;
  padding: 12px 22px;
  font-size: 0.7rem;
  text-decoration: none;
}
