// Colors

// Background colors
//index
$color-background-1: #724cfd;
//program
$color-background-2: #7979ff;
//merch
$color-background-3: #835fff;
// practical info
$color-background-4: #4a53e8;
//artists
$color-background-5: #b29bff;
// tickets
$color-background-6: #f2c0ff;
// map
$color-background-7: #724cfd;

// other colors
$black: #191919;
$white: #f7f7f7;
$pink: #e581ff;
$light-pink: #f2c0ff;
